<mat-toolbar>
  <span>
    <a routerLink="/"> <img src ="./assets/Logo6.png"  width="300"></a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/empleados" routerLinkActive="mat-accent">Empleados</a>
    </li>
    <li>
      <a mat-button routerLink="/reportes" routerLinkActive="mat-accent">Reportes</a>
    </li>
  </ul>

</mat-toolbar>

<mat-card>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        type="text"
        id= "codEmp"
        formControlName= "codEmp" 

        

        required

        placeholder="Código Empleado"
      />
      <!-- <mat-error *ngIf="name.invalid">Campo invalido</mat-error> -->
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        id="nombre"
        formControlName= "nombre"

        required

        placeholder="Nombres"
      />
      <!-- <mat-error *ngIf="name.invalid">Campo invalido</mat-error> -->
    </mat-form-field>


    <mat-form-field>
      <input
        matInput
        type="text"
        id="apellido"
        formControlName= "apellido"

        required

        placeholder="Apellidos"
      />
      <!-- <mat-error *ngIf="name.invalid">Campo invalido</mat-error> -->
    </mat-form-field>


    <mat-form-field>
      <input
        matInput
        type="email"
        id="email"
        formControlName= "email"

        required

        placeholder="Correo Electrónico"
      />
      <!-- <mat-error *ngIf="name.invalid">Campo invalido</mat-error> -->
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="password"
        id="contrasena"
        formControlName= "contrasena"

        required

        placeholder="Contraseña"
      />
      <!-- <mat-error *ngIf="name.invalid">Campo invalido</mat-error> -->
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        id="estado"
        formControlName= "estado"

        required

        placeholder="Estado"
      />
      <!-- <mat-error *ngIf="name.invalid">Campo invalido</mat-error> -->
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        id="idDepto"
        formControlName= "idDepto"

        required

        placeholder="Departamento"
      />
      <!-- <mat-error *ngIf="name.invalid">Campo invalido</mat-error> -->
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        id="genero"
        formControlName= "genero"

        required

        placeholder="Genero"
      />
      <!-- <mat-error *ngIf="name.invalid">Campo invalido</mat-error> -->
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        id="perfil"
        formControlName= "perfil"

        required

        placeholder="Perfil"
      />
      <!-- <mat-error *ngIf="name.invalid">Campo invalido</mat-error> -->
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        id="direccion"
        formControlName= "direccion"

        placeholder="Dirección Residencia"
        required
        email
      />
      <!-- <mat-error *ngIf="email.invalid">Campo invalido</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="date"
        name="fechaCumple"
        formControlName= "fechaCumple"

        placeholder="Fecha de Nacimiento"
        required
      />
      <!-- <mat-error *ngIf="password.invalid">Campo invalido</mat-error> -->
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Registrarse</button>
  </form>
</mat-card>
